:root{
    --primary : red;
    --secondary: #587D71;
    --tertiary: #a5c0b7;
    --accent: gray;
    --basicdark: #4B3869;
    --basiclight: whitesmoke;
    --footer: black;
}

@font-face {
    font-family: roboto;
    src: url(typefaces/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: miriam-libre;
    src: url(typefaces/MiriamLibre-VariableFont_wght.ttf);
}
@font-face {
    font-family: fira-sans;
    src: url(typefaces/FiraSansExtraCondensed-ExtraLight.ttf);
}

body{
    background-color: var(--primary);
    color: var(--basiclight);
    margin: 0;
    align-content: center;
}
main{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 30px;
}

.open-space{
    padding-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 275px;
    font-size: 28pt;
    border: none;
}

.container{
    display: flex;
    gap: 40px
}
a{
    color: var(--basiclight);
}
 nav a{
    color: var(--basiclight);
    font-family: fira-sans;
    font-size: 16pt;
}
a.link:hover{
    color: bisque;
}
h1{
    font-family: miriam-libre;
    text-shadow: 4px 4px var(--accent);
}
h2, h3{
    font-family: miriam-libre;
    text-shadow: 2px 2px var(--accent);
}
h4{
    font-family: roboto;
    font-size: 20pt;
    color: var(--basiclight);
}
p{
    max-width: 60ch;
    font-family: fira-sans;
    font-size: 20pt;
}
img{
    object-fit: contain;
}
section{
    border-top: 2px solid var(--basicdark);
}
aside{
    border-top: 2px solid var(--basicdark);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
}
header{
    background-color: var(--secondary);
    padding: 0;
}
header img{
    border: 1px solid var(--basicdark);
}
header > a{
    margin: 15px;
    border-left: 2px solid var(--basicdark);
    border-bottom: 2px solid var(--basicdark);
    height: 102px;
    padding-left: 10px;
    padding-bottom: 10px;
}
nav{
    padding: 0;
    display: flex;
}
nav.vertical{
    flex-direction: column;
    margin-bottom: 35px;
}
li{
    list-style-type: none;
}

ul.container{
    align-items: center;
    padding: 0;
    gap: 200px;
}
ul a{
    border: 2px solid var(--basicdark);
    background-color: var(--tertiary);
    font-family: fira-sans;
    font-size: 18pt;
    padding: 25px;
    width: 250px;
    display: inline-block;
    text-align: center;
    color: var(--basicdark);
    border-radius: 5px;
}
a.active{
    background-color: var(--basicdark);
    color: var(--tertiary);
    border: 2px solid var(--tertiary);
}

footer{
    background-color: var(--footer);
    height: 350px;
}
footer > *{
    margin-left: 10vw;
    padding-left: 15px;
    border-left: 2px solid var(--basiclight);
}
i{
    margin-right: 5px;
}