@font-face {
    font-family: roboto;
    src: url(assets/typefaces/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: miriam-libre;
    src: url(assets/typefaces/MiriamLibre-VariableFont_wght.ttf);
}
@font-face {
    font-family: fira-sans;
    src: url(assets/typefaces/FiraSansCondensed-Medium.ttf);
}

:root {
  --text: #290052;
  --text-h: #290052;
  --primary: #664E88;
  --primary-shade: #4B3869;
  --primary-light: #876dab;
  --accent: #63B4B8;
  --accent-shade: #40888c;
  --accent-light: #A9E4D7;
  --footer-bg: black;

  --sans: fira-sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  --heading: miriam-libre, Verdana, Geneva, Tahoma, sans-serif;;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--primary);
  background: linear-gradient(to bottom, var(--primary), var(--primary-shade));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
.whiteText{
  color:var(--accent-light);
  text-shadow: 4px 4px var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #A9E4D7;
    --text-h: #A9E4D7;
    --primary: #285557;
    --primary-shade: #38777a;
    --primary-light: #183334;
    --accent: #4B3869;
    --accent-shade: #664E88;
    --accent-light: #290052;
    --footer-bg: black;

    --sans: fira-sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    --heading: miriam-libre, Verdana, Geneva, Tahoma, sans-serif;;
    --mono: ui-monospace, Consolas, monospace;
  }
  .whiteText{
    color:var(--accent-light);
    text-shadow: 4px 4px var(--primary-shade);
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  /* border-inline: 1px solid var(--primary-shade); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

header{
  background-color: var(--accent);
}
h1,
h2 {
  font-family: var(--heading);
  font-weight: 1000;
  color: var(--text-h);
  text-shadow: 4px 4px var(--accent-shade);
}


h1 {
  font-size: 108px;
  letter-spacing: -1.68px;
  text-wrap: nowrap;
  line-height: 105%;
  margin: 0;
  margin-bottom: 50px;
}
h2 {
  font-size: 48px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
  border-bottom: 2px solid var(--primary-shade);
}

h3{
  font-family: var(--heading);
  color: var(--text-h);
  text-shadow: 2px 2px var(--accent-shade);
  font-size: xx-large;
  margin-top: 0px;
  margin-bottom: 5px;
  line-height: 110%;
}
h4{
  font-size: larger;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: hidden;
  /* white-space: nowrap; */
}

p {
  margin: 0;
  max-width: 70ch;
  font-size:x-large;
  font-weight: 600;
}
footer{
    background-color: var(--footer-bg);
}

.container{
    display: flex;
    gap: 40px
}
img{
    object-fit: contain;
}

img{
    object-fit: contain;
}